.light-on {
    -fx-fill: #145876;
    -fx-stroke: #145876;
}

.light-off {
    -fx-fill: #031a57;
    -fx-stroke: #031a57;
}

.date-label {
    -fx-text-fill: #fb8500;
    -fx-font-weight: bold;
}

.main-clock {
    -fx-text-fill: #ffb703;
}

.dark-bg {
    -fx-background-color: #090b32;
}
